body {
  background-color: rgb(13, 17, 23);
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
}

.cursor {
  display: inline-block;
  width: 4px;
  height: 140px;
  background-color: green;
  position: absolute;
}
